@import "tailwindcss";
* { box-sizing: border-box; margin: 0; padding: 0; }
body { font-family: 'DM Mono', monospace; background: #ebebeb; }
::-webkit-scrollbar { width: 3px; }
::-webkit-scrollbar-track { background: #ebebeb; }
::-webkit-scrollbar-thumb { background: #c0b8b0; }
